$white: #ffffff;

$black: #000000;

$grey: #a09999;

$blue: #132045;
$blue1: #0a173d;
$blue2: #508297d2;
$blue3: #1e234d;

$orange: #fe7208;

$yellow: #d1f105;

$green: #659c2b;
$green1: #4a8f78a2;
$green2: #8c9d6486;
$green3: #00bf72;

$purple: #710368;

$pink: #ff1088;

$red: #ff0707;
