.container {
  background-color: #3d414e;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  box-shadow: 0.2px 0.5px 0.6px rgba(80, 130, 151, 0.824),
    0.3px 0.8px 1px -1.2px rgba(74, 143, 120, 0.637),
    0.8px 1.9px 2.3px -2.5px rgba(140, 157, 100, 0.527);

  ul {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 30px;

    a {
      display: flex;
      text-decoration: none;
      list-style: none;
      color: unset;
      transition: 0.2s;

      &:hover {
        transform: scale(1.2);
      }
    }

    li {
      margin-right: 30px;

      &:first-child {
        margin-right: auto;
      }

      &:last-child {
        margin-right: 0px;
        height: 28px;
      }
    }
  }
}

@media (max-width: 500px) {
  .container {
    font-size: 15px;

    ul {
      li {
        margin-right: 15px;

        &:first-child {
          margin-right: 25px;
        }

        &:last-child {
          // margin-right: 5px;
          margin-left: 10px;
        }
      }
    }
  }
}
