.container {
  .header {
    height: 80px;
  }

  .outlet {
    min-height: calc(100vh - 130px);
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
  }

  .footer {
    height: 50px;
  }
}
