@import "./pages/characterDetails/characterDetails.module.scss";
@import "./common/components/ui/layout/header/header.module.scss";
@import "./common/components/ui/layout/footer/footer.module.scss";
@import "./custom/components/character/character.module.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  bottom: 0;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --link-color: #a105a1;
  --tink-color: #a10505;
  --a-color: #2405a1;
}
